.header {
	grid-area: header;
	background-color: red;
}

.game-grid {
	display: grid;
	gap: 10px;
	margin: 100px 100px;
}

img {
	max-width: 80%;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	mix-blend-mode: multiply;
}

.clickable {
	cursor: pointer;
}

.board {
	grid-area: board;
	margin: 50px;
	background-color: blue;
}

.matrix {
	display: grid;
	gap: 10px;
}

.forecast {
	grid-area: forecast;
	background-color: green;
	margin: 50px;
	height: 100%;
}

.footer {
	grid-area: footer;
}

.cell {
	/* width: 50px; */
	background-color: #999;
	aspect-ratio: 1;
	display: grid;
}

.greyed-out {
	background-color: #444;
}

.selected {
	box-shadow: inset -3px 0 0 yellow, inset 0 -3px 0 yellow, inset 3px 0 0 yellow, inset 0 3px 0 yellow;
}

.cell-value {
	font-size: 20px;
	place-self: center;
	max-width: 100%;
	max-height: 100%;
}