body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color: #DDD;
	text-align: center;
}

.home {
	display: grid;
	gap: 10px;
	margin: 0 50px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"heading heading"
		"new-game high-scores"
		"how-to-play how-to-play";
}

.heading {
	grid-area: heading;
}

.new-game {
	grid-area: new-game
}

.high-scores {
	grid-area: high-scores;
}

.how-to-play {
	grid-area: how-to-play;
}

.how-to-play-grid {
	display: grid;
	grid-template-columns: 9fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
}

.text {
	font-size: 9px;
	text-align: left;
}

.header {
	grid-area: header;
	background-color: red;
}

.game-grid {
	display: grid;
	gap: 10px;
	margin: 30px 60px;
}

img {
	max-width: 80%;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	mix-blend-mode: multiply;
}

.board {
	grid-area: board;
	margin: 50px;
	background-color: blue;
}

.matrix {
	display: grid;
	gap: 10px;
}

.forecast {
	grid-area: forecast;
	background-color: green;
	margin: 50px;
	height: 100%;
}

.footer {
	grid-area: footer;
}

.cell {
	/* width: 50px; */
	background-color: #999;
	aspect-ratio: 1;
	display: grid;
	cursor: default;
}

.panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clickable {
	cursor: pointer;
}

.greyed-out {
	background-color: #444;
}

.selected {
	box-shadow: inset -3px 0 0 yellow, inset 0 -3px 0 yellow, inset 3px 0 0 yellow, inset 0 3px 0 yellow;
}

.cell-value {
	font-size: 20px;
	place-self: center;
	max-width: 100%;
	max-height: 100%;
}

table {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30pxcd ;
	border-spacing: 0;
	width: auto;
}

.row {
	padding: 5px;
}

.row-odd {
	background-color: #999;
}

.row-even {
	background-color: #666;
}

td, th {
	padding: 10px;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}